@font-face {
    font-family: "PFHighwaySansPro";
    src: url("../../../fonts/PFHighwaySansPro_M.ttf") format("ttf");
   }
.seasonsWrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows:30px;
   
}
.seasonsWrapper div{
   
}
.ml_8{
    margin-left: 8px;
}