.images{

    background-color: white;
    background-color: white;
    height: 200px;
 background:linear-gradient(359.52deg, #202020 4.68%, rgba(53, 56, 60, 0) 75%), url(../../../../images/familyPreview.png) center center no-repeat;
 background-size: cover;

}