.filterPage{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 295px 1fr;
    grid-template-areas: 'filter cardsOfTours';
    height: 90vh;
}

.filter{
    grid-area: 'filter';
    background-color: burlywood;
}

.cardsOfTours{
    grid-area: 'cardsOfTours';
    background-color: aqua;
    background: url(../../images/bg_toursFilter_cards.png) center center;
    /* background-size: cover; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 30px;    
    padding: 10px;
    
    
    
}
.cardsOfTours .cadrsWrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-self: center;
}
.cardsOfTours_content{

    display: grid;
    grid-template-columns: repeat(auto-fill, 222px);
    grid-template-rows: repeat(3, 296px);
    grid-gap: 30px;
    grid-auto-rows: 296px;
    max-width: 948px;
    min-width: 260px;
}

.filterWrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 400px 400px 400px;
    grid-auto-rows:400px;
    grid-gap: 30px;
    padding: 20px;
}